/*
gris oscuro #1d252c
gris claro #626262
background #1b2127
celeste #026ffff

*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?aahu9c');
    src:  url('../fonts/icomoon.eot?aahu9c#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?aahu9c') format('truetype'),
      url('../fonts/icomoon.woff?aahu9c') format('woff'),
      url('../fonts/icomoon.svg?aahu9c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }
body{
    font-family: 'Source sans pro', sans-serif;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;
    color:#00FF00;
    /*text-transform: uppercase;
    text-decoration: underline;*/
    /* margin: 100px 150; */
    margin: 0;
}
h1 strong{
    color: #026fff;
}
h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source sans pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
    margin: 0;
  }
.hero{
    height: 300px;
    /* background-image: url('../Images/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-image{
    object-fit: scale-down;

}
.portfolio{
    background: #fafafa;
    padding: 20px;
}
.project{
    /* border-top: 10px solid red;
    border-right: 10px solid red;
    border-left: 10px solid red;
    border-bottom: 10px solid red; */
    /* borde general debemos de porner color, ancho y estilo */
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    /* margin: 10px; */
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-title, .project-course, .project-url{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;

}
.project-description{
    font-size: 20px;
}
.project strong{
    font-family: 'Fjalla One', sans-serif;
}
/* .project-course{
    margin: 10px 0;


} */
.project-date
.project-details{
    /* width: 500px; */
    /*aqui usaremos el porcentaje para que estos elementos hijos queden uno a la par del otro*/
    width: 50%;
    
}
.project-imageContainer{
    /* width: 500px; */
    width: 50%;
}
.project-imageContainer img{
    max-width: 100%;

}
.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}
.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.menu { /* .menu hereda de .header */
    height: inherit;
    font-weight: bold;
  }
.header ol {
    display: flex;
    height: inherit;
  }
.header ol li { /* .header ol li hereda de .header ol */
    height: inherit;
 }
 .event-list{
    display: flex;
    flex-wrap: wrap;
 }
 .event-list-title{
     margin-left: 20px;
 }
 .event{
    /* margin: 10px;
    width: 480px; */
    width: 48%;
    margin: 1%;
    height: 400px;
    border-radius: 10px;
    flex-shrink: 0;
    /* este se usa para cuando un elemento se desborde se oculte en este caso las esquinitas de la imagen no se les ponian el borde */
    overflow: hidden;
}
.event img{
width: 480px;
height: 200px;
/* para hacer la imagenes no achaten y que mejor se recorte y no se vean feas */
object-fit: cover;
background: #f4fbff;
}
.event-detail{
    margin: 20px 40px;
    /* usamos valores negativos cuando pusimos algo y despues queremos quitar solo un lado */
    margin: -40px;
    background: white;
    /* esta es para superponer un elemento sobre otro */
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-description{
    text-align: center;
}
.event-url{
    color: #056fff;
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}




 .footer{
     color: white;
    background: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

 }
 .footer img{
     /* este se usa cuando tenemos texto y imagenes y queremos alinearlas en vertical. */
     vertical-align: middle;
 }

 .footer a{
     color: white;
 }

 .contact{
     background-color: #056fff;
     color: white;
     height: 150px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .social{
     /* border: 1px; */
 }
 .social-link{
     display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    /* border: 1px solid white; */
    background-size: 50px 50px;
 }
 .social-link.twitter{
    background-image: url('../Images/twitter.svg');
    

 }
 .social-link.facebook{
    background-image: url('../Images/facebook.svg');
    

 }
 .social-link.github{
    background-image: url('../Images/github.svg');
    

 }
 .social-link.instagram{
    background-image: url('../Images/instagram.svg');
   

 }
 .form-email input{
    border-color: rgb(228, 224, 224);
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px  10px 25px;
    background-image: url('../Images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
 }
 .form-email button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    border-color: rgb(228, 224, 224);

 }
 .form-email h3{
    font-family: 'Source sans pro', sans-serif;

 }

 .container{
     /*es max-width depende de lo que consuman sus hijos por eso se ve como centrado
     para ellos podemos usar width:100% en donde le decimos que va usar el 100% hasta 100px
     pero hay otra fomra de hacerlo y es poniendo un flex:1 en donde le decimos toma 
     el ancho del elemento */
     max-width: 1000px;
     /* width: 100%; */
     flex: 1;
     margin: 0 auto;
     display: inherit;
     justify-content: inherit;
     align-items: inherit;
     height: inherit;
     flex-wrap: inherit;
 }

 .html-video{
     width: 100%;
     height: auto;
     /* max-width: 100%; */
 }

 .Youtube-video{
    /* width: 100%; */
    /* height: auto; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
 }
 .flexible-video{
     width: 100%;
     height: 0;
     padding-top: 56.25%;
     position: relative;
 }

 .burge-button{
     width: 40px;
     height: 40px;
     /*este toma el valor de width y le saca el %*/
     border-radius: 50%;
     background-color: rgba(0,0,0,.8);
     display: none; /*este lo usamos para por definile el alto y ancho*/
     /*centrar sin usar flex*/
     line-height: 40px;
     text-align: center;
     /*para que nos persiga por toda la pagina*/
     position: fixed;
     z-index: 4;
     left: 5px;
     top: 5px;
     /*como es una fuente podemos cambiarle de tamaño, color, etc*/
     color: rgb(228, 224, 224);
     
 }

 /* desktop first empezar del media query mas grande */
 @media screen and (max-width: 1023px){
    .event-list-title{
        margin-left: 0;
    }
    .portfolio{
        padding: 0;
    }
    body{

       /* border: 10px solid green; */
    }
    .container{
        padding: 0 1em;
    }
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    } 
    .hero-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1{
        font-size: 2em;
        z-index: 2;
    }
}


 @media screen and (max-width: 767px){
    h2{
        font-size: 1.2em;
        margin:0.5em 0 ;
    }
    .burge-button{
        display: block;
    }
    .menu{
        position: fixed;
        background: rgba(5,111,255,.8);
        z-index: 3;
        top: 0;
        left: -100vw;
        bottom: 0;
        width: 100vw;
        /* height: 100vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
    .menu.is-active{
        left: 0;
    }
    
    .header{
         /*aqui cambiemos para todos los que tengan este tamaño o menor*/
         display: block;
         /*este valor nos ayuda para recetear valores */
         height: auto;
     }
     .header ol{
         /*con initial ponemos el valor por defecto que traia el elemento.*/
        /* display: initial; */
        display: block; 
     }
     .header ol li{
         height: 50px;
         /* text-align: center; */
     }
     .header a{
         justify-content: center;
         height: 40px;
         font-size: 2em;
         text-decoration: underline;
         margin-bottom: 0.5em;
     }
     .header .logo{
         text-align: center;
     }
     .project {
         display: block;
     }
     .project-imageContainer{
         width: auto;
         text-align: center;
     }
     .project-details{
         width: auto;
         font-size: 16PX;
     }
     .project-course, .project-date, .project-url{
         margin: 0.3em 0;
     }
     .project-title{
        font-size: 1.5em;
        margin-bottom: 0.3em;
     }
     .project-url{
        font-size: 1em;
     }
     .project-course{
        font-size: 0.7em;
     }
     .project-date{
        font-size: 1em;
     }
     .project-description{
        font-size: 1em;
     }
     .event{
         width: auto;
         flex-shrink: initial;
     }
     .event img{
         width: 100%;
     }
 }

 @media screen and (max-width: 480px){
    body{

       /* border: 10px solid green; */
    }
    .project-details{
        width: auto;
        font-size: 14PX;
    }
    h1{
        font-size: 1.5em ;
    }
    .event-detail{
        margin: -2em 0.5em 0.5em;
        padding: 1em;
    }
    .contact{
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email button{
        margin: 1em auto;
    }
    .form-email h3{
        margin-top: 1em;
    }
    .footer{
        display: block;
        text-align: center;
        border:1px solid transparent ;
    }
}
 
@media screen and (max-width: 320px){
    body{

       /* border: 10px solid green; */
    }
    h1{
        font-size: 1.2em ;
    }
    .hero{
        padding: 2em 1em;
    }
    .social-link{
        width: 40px;
        height: 40px;
        background-size: 100%;
    }
}